.m1-tabbar{
  overflow: hidden;
}

.m1-tabbar-button{
  overflow: hidden;
}

.m1-tabbar-button-label{
  text-align: center;
}

.m1-multipanel{
  overflow: hidden;
}

.m1-root{
  -webkit-user-select: none;
  left: 0px;
  position: absolute;
  top: 0px;
}

.m1-top-root{
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
}

.m1-list{
  -webkit-padding-start: 0px;
  color: black;
  font: bold 17px "Helvetica Neue", Helvetica;
  margin: 0px 0px 0px 0px;
}

.m1-navbar{
  border-top-color: transparent;
}

.m1-homescreen-prompt{
  -webkit-box-sizing: content-box;
  display: block;
  font-size: 16px;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 450px;
  z-index: 99;
}

.m1-loading-spinner{
  float: left;
  padding: 3px 3px 3px 3px;
}

.m1-loading-text{
  display: block;
  float: left;
  max-width: 250px;
  min-height: 15px;
  padding: 10px 0px 10px 5px;
  text-align: left;
}

.m1-loading{
  display: none;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  left: 0;
  position: absolute;
  text-align: center;
  top: 150px;
  vertical-align: middle;
  width: 100%;
  z-index: 99;
}

.m1-map{
  background-color: rgb(255,255,255);
  white-space: normal;
}

.m1-iscroll-wrapper{
  overflow: hidden;
}

.m1-root .m1-aux-hidden-div{
  display: block;
  height: 0px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 0px;
}


  .m1-root .m1-combobox,.m1-root .m1-toolbar,.m1-root .m1-iscroll-wrapper,.m1-root .m1-map-container,.m1-root .m1-loading-text,.m1-root .m1-toggle,.m1-root .m1-button,.m1-root .m1-hyperlink,.m1-root .m1-custom-html,.m1-root .m1-video,.m1-root .m1-multipanel,.m1-root .m1-iscroll-scroller,.m1-root .m1-element,.m1-root .m1-text,.m1-root .m1-tabbar-button,.m1-root .m1-audio,.m1-root .m1-radiobutton,.m1-root .m1-loading,.m1-root .m1-multipanel-page,.m1-root .m1-tabbar,.m1-root .m1-placeholder,.m1-root .m1-hyperlink-container,.m1-root .m1-select-list-menu,.m1-root .m1-image,.m1-root .m1-homescreen-prompt,.m1-root .m1-list,.m1-root .m1-list-footer,.m1-root .m1-play-button,.m1-root .m1-video-container,.m1-root .m1-loading-spinner,.m1-root .m1-textfield,.m1-root .m1-list-header,.m1-root .m1-textarea,.m1-root .m1-video-poster-shadow,.m1-root .m1-toolbar-icon,.m1-root .m1-checkbox,.m1-root .m1-video-poster,.m1-root .m1-tabbar-button-label,.m1-root .m1-selection-list,.m1-root .m1-hyperlink-internal,.m1-root .m1-toggle5,.m1-root .m1-navbar,.m1-root .m1-list > li,.m1-root .m1-list > li > div,.m1-root .m1-list > li > img,.m1-root .m1-list > li > label,.m1-root .m1-list > li > div > img,.m1-root .m1-toggle > div,.m1-root .m1-toggle5 > div,.m1-root .m1-button > span
  {
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  display: block;
  float: none;
  position: relative;
  white-space: nowrap;
}

.m1-root .m1-custom-html{
  line-height: normal;
  overflow: hidden;
  white-space: normal;
}

.m1-root .m1-multipanel-page{
  display: none;
  position: absolute;
}

.m1-root .m1-selected.m1-multipanel-page{
  display: block;
}

.m1-root textarea.m1-textarea{
  white-space: normal;
}

.m1-root textarea.m1-textarea.m1-placeholder{
  color: rgb(153,153,153);
}

.m1-list > li{
  -webkit-padding-start: 0px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background-color: rgb(255,255,255);
  background-image: 
    -webkit-gradient(linear, 0.0% 0.0%, 0.0% 100.0%, from(rgba(255,255,255,0.3)), to(rgba(255,255,255,0)));
  background-position: right center;
  background-repeat: no-repeat;
  border: 1px solid #A8A9AC;
  border-bottom-width: 0px;
  color: #666;
  list-style: none;
  overflow: hidden;
  white-space: nowrap;
}

.m1-list > li .m1-textfield{
  background-image: 
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACklEQVR4nGMAAQAABQABDQottAAAAABJRU5ErkJggg==);
}

.m1-list > li.m1-clicked.m1-highlight{
  background-color: rgb(2,91,230);
  border-color: transparent;
  border-width: 0px;
  padding: 1px 1px 0px 1px;
}

.m1-list > li.m1-select-list-menu > div{
  color: rgb(56, 84, 135);
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: lighter;
  height: 100%;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  text-align: right;
  text-decoration: none;
  width: 100%;
}

.m1-list > li.m1-select-list-menu > label{
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.m1-list > li.m1-select-list-menu.m1-clicked.m1-highlight > div{
  color: rgb(255,255,255);
}

.m1-list > li.m1-select-list-menu.m1-clicked.m1-highlight > label{
  color: rgb(255,255,255);
}

.m1-list > li.m1-selected > label{
  color: #324F85;
}

.m1-list > li.m1-unclicked.m1-highlight{
  -webkit-transition: background-color 0.15s ease-in-out;
  background-color: rgb(255,255,255);
  border-color: transparent;
  border-width: 0px;
  padding: 1px 1px 0px 1px;
}

.m1-plain-list.m1-list > li{
  border-left-width: 0px;
  border-right-width: 0px;
}

.m1-plain-list.m1-list > li.m1-last{
  border-bottom-width: 1px;
}

.m1-plain-list.m1-list > li.m1-list-footer{
  background-image: 
    -webkit-gradient(linear, 0.0% 0.0%, 0.0% 100.0%, from(rgb(139,159,171)), to(rgb(181,193,201)));
  padding: 0 0 0 5px;
}

.m1-plain-list.m1-list > li.m1-list-header{
  background-image: 
    -webkit-gradient(linear, 0.0% 0.0%, 0.0% 100.0%, from(rgb(139,159,171)), to(rgb(181,193,201)));
  padding: 0 0 0 5px;
}

.m1-plain-list.m1-list > li.m1-select-list-menu{
  -webkit-background-size: 13px 12px, 100% 100%;
}

.m1-rounded-list.m1-list > li.m1-first{
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
}

.m1-rounded-list.m1-list > li.m1-last{
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-width: 1px;
}

.m1-rounded-list.m1-list > li.m1-list-footer{
  background-color: rgba(0,0,0,0);
  background-image: none;
  border-color: transparent;
  text-align: center;
}

.m1-rounded-list.m1-list > li.m1-list-header{
  background-color: rgba(0,0,0,0);
  background-image: none;
  border-color: transparent;
}

.m1-rounded-list.m1-list > li.m1-select-list-menu{
  -webkit-background-size: 18px 12px, 100% 100%;
}

li > .m1-list .m1-text{
  -webkit-box-sizing: border-box;
}

.m1-homescreen-prompt img{
  display: block;
  float: left;
  margin: auto 20px 20px auto;
}

.m1-loading > div{
  -webkit-border-radius: 8px;
  -webkit-box-sizing: border-box;
  background: rgba(0,0,0,.7);
  color: rgba(255,255,255,.8);
  display: table;
  margin: 0px auto 0px auto;
  padding: 0px 15px 0px 15px;
  text-align: left;
  width: auto;
}

.m1-checkbox > input{
  -webkit-appearance: textarea;
  background-color: transparent;
  background-image: url(res/images/checkboxOff.png);
  background-position: center center;
  background-repeat: no-repeat;
  border: 0;
  height: 100%;
  margin: 0px 0px 0px 0px;
  width: 100%;
}

.m1-checkbox > input:checked{
  background-image: url(res/images/checkboxOn.png);
}

.m1-background-1{
  background-color: rgba(0,0,0,0);
  background-image: url(images/pinstripes.png);
  background-repeat: repeat;
}

.m1-border-1{
  -webkit-border-radius: 0px;
}

.m1-font-1{
  color: rgb(255,255,255);
  font-family: Arial;
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
}

.m1-border-2{
  -webkit-border-radius: 0px;
  border-color: rgb(0,0,0);
  border-style: solid;
}


  .m1-list.m1-plain-list > li.m1-clicked.m1-highlight.m1-background-5,.m1-list.m1-plain-list > li.m1-unclicked.m1-highlight.m1-background-6
  {
  background-color: rgba(0,0,0,0);
  background-image: 
    -webkit-gradient(linear, 50.0% 0.0%, 50.0% 100.0%, from(rgb(79,141,237)), to(rgb(2,91,230)));
}

.m1-font-2{
  color: rgb(0,0,0);
  font-family: Helvetica;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
}

.m1-list > li.m1-clicked.m1-highlight div.m1-active-color-1{
  color: rgb(255,255,255);
}


  .m1-background-2,.m1-list.m1-plain-list > .m1-list-header.m1-background-7,.m1-list.m1-plain-list > li.m1-background-4
  {
  background-color: rgb(255,255,255);
  background-image: none;
}

.m1-font-3{
  color: rgb(255,255,255);
  font-family: Helvetica;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

.m1-shadow-1{
  text-shadow: rgb(64,64,64) 1px 1px 1px;
}

.m1-list.m1-plain-list > .m1-list-header.m1-background-8{
  background-color: rgba(0,0,0,0);
  background-image: 
    -webkit-gradient(linear, 50.0% 0.0%, 50.0% 100.0%, from(rgb(177,188,205)), to(rgb(109,131,161)));
}

.m1-font-4{
  color: rgb(0,0,0);
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.m1-shadow-2{
  text-shadow: rgb(255,255,255) 1px 1px 1px;
}

.m1-font-5{
  color: rgb(0,0,0);
  font-family: Helvetica;
  font-size: 14px;
  font-weight: lighter;
  text-decoration: none;
}

.m1-background-3,.m1-selected.m1-background-9{
  background-color: rgb(5,144,51);
  background-image: none;
}

.m1-selected.m1-border-3{
  -webkit-border-radius: 3px;
}

.m1-font-6{
  color: rgb(177,177,177);
  font-family: Arial;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}

.m1-selected.m1-font-7{
  color: rgb(255,255,255);
  font-family: Arial;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}

body{
  margin: 0px 0px 0px 0px;
  overflow: visible;
}

#m1-UNT-Appv2-tabBar-Settings-label{
  height: 12px;
  left: 0px;
  line-height: 12px;
  margin-right: 0px;
  top: 15px;
  width: auto;
}

#m1-UNT-Appv2-tabBar-Settings-img{
  height: 16px;
  left: 42px;
  top: 7px;
  width: 16px;
}

#m1-UNT-Appv2-tabBar-Settings{
  height: 43px;
  left: 215px;
  top: -83px;
  width: 100px;
}

#m1-UNT-Appv2-tabBar-DiscountStatus-label{
  height: 12px;
  left: 0px;
  line-height: 12px;
  margin-right: 0px;
  top: 15px;
  width: auto;
}

#m1-UNT-Appv2-tabBar-DiscountStatus-img{
  height: 16px;
  left: 42px;
  top: 7px;
  width: 16px;
}

#m1-UNT-Appv2-tabBar-DiscountStatus{
  height: 43px;
  left: 109px;
  top: -40px;
  width: 100px;
}

#m1-UNT-Appv2-tabBar-Map-label{
  height: 12px;
  left: 0px;
  line-height: 12px;
  margin-right: 0px;
  top: 15px;
  width: auto;
}

#m1-UNT-Appv2-tabBar-Map-img{
  height: 16px;
  left: 42px;
  top: 7px;
  width: 16px;
}

#m1-UNT-Appv2-tabBar-Map{
  height: 43px;
  left: 3px;
  top: 3px;
  width: 100px;
}

#m1-UNT-Appv2-tabBar{
  height: 49px;
  left: 0px;
  line-height: 49px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-UNT-Appv2-Promotions2{
  height: 21px;
  left: 284px;
  line-height: 21px;
  top: -14px;
  width: 21px;
}

#m1-UNT-Appv2-Parking{
  height: 21px;
  left: 284px;
  line-height: 21px;
  top: -23px;
  width: 21px;
}

#m1-UNT-Appv2-NotificationsHeader-label{
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 45px;
  left: 8px;
  line-height: 29px;
  margin-right: 0px;
  top: 8px;
  width: auto;
}

#m1-UNT-Appv2-NotificationsHeader{
  height: 45px;
  left: 0px;
  line-height: 29px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-UNT-Appv2-NotificationsList{
  height: 45px;
  left: 0px;
  line-height: 45px;
  margin-right: 0px;
  top: -28px;
  width: auto;
}

#m1-UNT-Appv2-text1{
  height: 23px;
  left: 122px;
  line-height: 23px;
  text-align: center;
  top: 10px;
  width: 76px;
}

#m1-UNT-Appv2-Navigation-Settings{
  height: 43px;
  left: 0px;
  line-height: 43px;
  margin-right: 0px;
  top: -60px;
  width: auto;
}

#m1-UNT-Appv2-listHeader2-label{
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 30px;
  left: 0px;
  line-height: 30px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-UNT-Appv2-listHeader2{
  height: 30px;
  left: 0px;
  line-height: 30px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-UNT-Appv2-Discounts{
  height: 30px;
  left: 0px;
  line-height: 30px;
  margin-right: 0px;
  top: 90px;
  width: auto;
}

#m1-UNT-Appv2-listHeader3-label{
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 30px;
  left: 0px;
  line-height: 30px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-UNT-Appv2-listHeader3{
  height: 30px;
  left: 0px;
  line-height: 30px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-UNT-Appv2-Promotions{
  height: 30px;
  left: 0px;
  line-height: 30px;
  margin-right: 0px;
  top: 150px;
  width: auto;
}

#m1-UNT-Appv2-Settings-box-scroller{
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 411px;
  left: 0px;
  line-height: 40px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-UNT-Appv2-Settings-box{
  height: 411px;
  left: 0px;
  line-height: 411px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-UNT-Appv2-Settings{
  height: 100.0%;
  left: 0px;
  top: 0px;
  width: 100.0%;
}

#m1-UNT-Appv2-TextList2{
  height: 23px;
  left: 5px;
  line-height: 23px;
  text-align: left;
  top: -3px;
  width: 84px;
}

#m1-UNT-Appv2-accessoryImage2{
  height: 13px;
  line-height: 13px;
  margin-left: auto;
  right: 5px;
  top: 15px;
  width: 9px;
}

#m1-UNT-Appv2-listItem2{
  height: 44px;
  left: 0px;
  line-height: 44px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-UNT-Appv2-TextList1{
  height: 23px;
  left: 5px;
  line-height: 23px;
  text-align: left;
  top: -3px;
  width: 84px;
}

#m1-UNT-Appv2-accessoryImage1{
  height: 13px;
  line-height: 13px;
  margin-left: auto;
  right: 5px;
  top: 15px;
  width: 9px;
}

#m1-UNT-Appv2-listItem1{
  height: 44px;
  left: 0px;
  line-height: 44px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-UNT-Appv2-list1{
  height: 88px;
  left: 0px;
  line-height: 88px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-UNT-Appv2-text3{
  height: 23px;
  left: 86px;
  line-height: 23px;
  text-align: center;
  top: 10px;
  width: 147px;
}

#m1-UNT-Appv2-Navigation-DiscountStatus{
  height: 43px;
  left: 0px;
  line-height: 43px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-UNT-Appv2-DiscountStatus-box-scroller{
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 511px;
  left: 0px;
  line-height: 40px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-UNT-Appv2-DiscountStatus-box{
  height: 411px;
  left: 0px;
  line-height: 411px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-UNT-Appv2-DiscountStatus{
  height: 100.0%;
  left: 0px;
  top: 0px;
  width: 100.0%;
}

#m1-UNT-Appv2-MapOfGarage{
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 364px;
  left: 0px;
  line-height: 40px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-UNT-Appv2-MapOfGarageouter{
  border-width: 1px 1px 1px 1px;
  height: 368px;
  left: 0px;
  line-height: 366px;
  top: 0px;
  width: 320px;
}

#m1-UNT-Appv2-text2{
  height: 23px;
  left: 140px;
  line-height: 23px;
  text-align: center;
  top: 10px;
  width: 40px;
}

#m1-UNT-Appv2-Navigation-map{
  height: 43px;
  left: 0px;
  line-height: 43px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-UNT-Appv2-Map-box{
  height: 411px;
  left: 0px;
  line-height: 411px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-UNT-Appv2-Map{
  height: 100.0%;
  left: 0px;
  top: 0px;
  width: 100.0%;
}

#m1-UNT-Appv2-multiPage1{
  height: 411px;
  left: 0px;
  line-height: 411px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

